@model IEnumerable<WEBNHOM10.Models.SinhVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "QuanLyYeucauThue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="heading_container heading_center">
    <h2>
        Quản lí yêu cầu thuê
    </h2>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Mã sinh vên</th>
                    <th>Tên sinh viên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số điện thoại</th>
                    <th>Phòng</th>
                    <th>Lớp</th>
                    <th>Quê</th>
                    <th>CCCD/CMND</th>
                    <th>Trạng thái</th>
                  </tr>
                </thead>
                <tbody id="All">
                  @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MaSinhVien)</td>
                        <td>@Html.DisplayFor(modelItem => item.TenSinhVien)</td>
                        <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                        <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                        <td>@Html.DisplayFor(modelItem => item.SoDienThoat)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaPhongNavigation.TenPhong)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaLopNavigation.TenLop)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaQueNavigation.TenQue)</td>
                        <td>@Html.DisplayFor(modelItem => item.SoCccd)</td>
                        <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                        <td id="btn">
                            <a type="button" asp-action="DuyetYcThue" asp-route-maSV="@item.MaSinhVien">Duyệt <i class="fa-solid fa-check"></i></a>
                            @*<a type="button" asp-action="XoaYeuCau" asp-route-masv="@item.MaSinhVien">Xóa <i class="fa-solid fa-check"></i></a>*@
                            <a style="cursor: pointer" onclick="XoaYc(@item.MaSinhVien,'@item.TenSinhVien')" >Xóa<i class="fa-solid fa-trash"></i></a>
                            <a type="button" asp-action="XemHopDong" asp-route-masv="@item.MaSinhVien">Xem</a>
                        </td>
                    </tr>
                   }
                </tbody>
              </table>
          </div>
    </div>
</div>
<script>
    function XoaYc(masv,tensv){
        if (confirm(`Bạn có chắc chắn muốn xóa yêu cầu của sinh viên ${tensv} ?`) == true) {
            $.ajax({
                url: 'https://localhost:7133/api/sinhviens/' + masv,
                method: 'DELETE',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Xóa không thành công");
                    console.log(response);
                },
                success: function (r) {
                    if(r == true){
                        alert("Xóa thành công");
                        location.reload();
                    }
                    else{
                        alert("Xóa không thành công");
                    }
                    console.log(r);
                }
            });
        }
    }
    function RenderYc() {
        $.ajax({
            url: 'https://localhost:7133/api/sinhviens',
            method: 'GET',
            contentType: 'json',
            dataType: 'json',
            error: function (r) {

            },
            success: function (data) {
                const len = data.length;
                let table = '';
                for (var i = 0; i < len; ++i) {
                    table = table +
                        `<tr>
                        <td>${data[i].maSinhVien}</td>
                        <td>${data[i].tenSinhVien}</td>
                        <td>${data[i].ngaySinh}</td>
                        <td>${data[i].gioiTinh}</td>
                        <td>${data[i].soDienThoai}</td>
                        <td>${data[i].maPhong}</td>
                        <td>${data[i].maLop}</td>
                        <td>${data[i].maQue}</td>
                        <td>${data[i].soCccd}</td>
                        <td>${data[i].trangThai}</td>
                        <td id="btn">
                            <a type="button" asp-action="DuyetYcThue" asp-route-maSV="${data[i].maSinhVien}">
                                Duyệt<i class="fa-solid fa-check"></i>
                            </a>
                            <a style="cursor: pointer" onclick="XoaYc(${data[i].maSinhVien},'${data[i].tenSinhVien}')">
                                Xóa<i class="fa-solid fa-trash"></i>
                            </a>
                            <a type="button" asp-action="XemHopDong" asp-route-masv="${data[i].maSinhVien}">
                                Xem
                            </a>
                        </td>
                    </tr>`;
                }
                $('#All').html(table);
            }
        })
    }
</script>