@model IEnumerable<WEBNHOM10.Models.HoaDon>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ThongTinHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div style="align-content:center"><h1>Thông Tin Hoá Đơn</h1></div>

<div>
    <a asp-action="ThemHoaDon" asp-controller="Admin">Tạo mới</a>
    <p style="color: red">
        @TempData["Message"]
    </p>
</div>
<table class="table">
    <thead>
        <tr class=".table-primary">
            <th>
                @Html.DisplayNameFor(model => model.MaHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HanThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            if (item.HanThanhToan - DateTime.Now < TimeSpan.FromDays(0))
            {
                cls = "table-danger";
            }
            else if (item.HanThanhToan - DateTime.Now <= TimeSpan.FromDays(3))
            {
                cls = "table-warning";
            }
            else
            {
                cls = "table-success";
            }
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.MaHoaDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HanThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    <a asp-action="SuaHoaDon" asp-route-MaHoaDon="@item.MaHoaDon">Edit</a> |
                    <a asp-action="ChiTietHoaDon" asp-route-MaHoaDon="@item.MaHoaDon">Details</a> |
                    <a asp-action="XoaHoaDon" asp-route-MaHoaDon="@item.MaHoaDon">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
