@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<WEBNHOM10.Models.SinhVien>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "QuanLyYeucauThue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="text-align:center;">
    Quản lí yêu cầu thuê
</h2>
<div style="margin-left: 60px;">
    <a type="button" asp-action="quanliycthue" class="btn-active" style="
                                background-color: #fff;
                                border: solid 1px #030303;
                                padding: 5px 10px;
                                ">All</a>
    <a type="button" asp-action="yeucaudaduyet" style="
    border: none;
    background-color: aqua;
    padding: 5px 20px;">
        Đã duyệt
    </a>
    <a asp-action="yeucauchuaduyet" type="button" style="
    background-color: #fff;
    border: solid 1px #030303;
    padding: 5px 10px;">
        Chưa duyệt
    </a>
</div>
<div class="heading_container heading_center">

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mã sinh vên</th>
                        <th>Tên sinh viên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Số điện thoại</th>
                        <th>Phòng</th>
                        <th>Lớp</th>
                        <th>Quê</th>
                        <th>CCCD/CMND</th>
                    </tr>
                </thead>
                <tbody id="All">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img style="width: 150px;" src="@Url.Content("../../images/SinhVien/"+item.Anh)" /></td>
                            <td>@Html.DisplayFor(modelItem => item.MaSinhVien)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenSinhVien)</td>
                            <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                            <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                            <td>@Html.DisplayFor(modelItem => item.SoDienThoat)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaPhongNavigation.TenPhong)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaLopNavigation.TenLop)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaQueNavigation.TenQue)</td>
                            <td>@Html.DisplayFor(modelItem => item.SoCccd)</td>
                            <td id="btn">
                                <a style="color: blue;padding:10px;" type="button" asp-action="XemHopDong" asp-route-masv="@item.MaSinhVien">Xem</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.PagedListPager(Model,page=>Url.Action("yeucaudaduyet",new {page=page}))
<style>
    .pagination {
        display: inline-block;
        padding-left: 60px;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination li {
            display: inline;
            margin-right: 5px;
        }

            .pagination li a {
                color: #428bca;
                background-color: #fff;
                border: 1px solid #ddd;
                padding: 5px 10px;
                border-radius: 4px;
            }

            .pagination li.active a {
                color: #fff;
                background-color: #428bca;
                border-color: #428bca;
            }

            .pagination li.disabled a {
                color: #ccc;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
            }
</style>