@model IEnumerable<WEBNHOM10.Models.Phong>
@{
    ViewData["Title"] = "DanhSachPhong";
    Layout = "~/Views/Shared/_LayoutNarBar.cshtml";
}
<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Danh sách phòng
            </h2>
        </div>
        <form method="get" action="@Url.Action("DanhSachPhongTheoTen", "Home")">
            <div class="form-group">
                <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm phòng theo tên">
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-xl-4">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="@Url.Content("../Images/Phong/"+item.AnhDaiDienPhong)" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    <a asp-action="ChiTietPhong" asp-route-id="@item.MaPhong">@item.TenPhong</a>
                                </h6>
                                <h6>
                                    Price:
                                    <span>
                                        @item.GiaPhong.Value.ToString("#,##0") VND
                                    </span>
                                </h6>
                            </div>
                            <div class="new">
                                <span>
                                    Phòng đẹp
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>
</section>